.ng-valid[required] {
    border-left: 5px solid #42A948;
    /* green */
}

.field>.ng-invalid {
    border-left: 5px solid #a94442;
    /* red */
}

form {
    div {
        margin-bottom: 10px;
    }

    label {
        display: block;
    }

    input {
        margin-bottom: 10px;
        border: 1px solid #ccc;
        padding: 4px;
    }

    button {
        margin-top: 1rem;
        border: 2px solid #ccc;
        padding: 4px 8px;
        background: #eee;
        border-radius: 4px;

        &:disabled {
            opacity: 0.4;
            cursor: not-allowed;
        }
    }

}