<h1 class="text-xl text-center">Pokemons list</h1>

@if (pokemonSelected) {
<p>You have selected the pokemon {{ pokemonSelected.name }}</p>
} @else {
<p>No pokemon selected.</p>
}

<input class="border-2 p-1" type="number" placeholder="Pokemon's id" #input (keyup.enter)="selectPokemon(+input.value)">

<ul class="grid gap-4 leading-5 mt-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
    @for (pokemon of pokemonList; track pokemon.id) {
    <li>
        <a routerLink="/pokemon/{{ pokemon.id }}" class="flex items-center p-2 border gap-4 shadow-md cursor-pointer"
            pokemonBorderCard="red">
            <img [src]="pokemon.picture" [alt]="pokemon.name" class="w-1/3">
            <div id="Infos" class="flex flex-col">
                <span class="font-semibold">{{ pokemon.name }}</span>
                <span class="text-sm">Created at {{ pokemon.created | date:"dd/MM/yyyy" }}</span>
                <div id="Types" class="flex flex-col gap-1">
                    @for (type of pokemon.types; track $index) {
                    <span class="px-3 py-1 w-fit rounded-full text-white {{ type | pokemonTypeColor }}">{{ type
                        }}</span>
                    }
                </div>
            </div>
        </a>
    </li>
    }
</ul>
